.bg-primary {
    background-color: var(--color-primary);
    color: var(--color-light);
}

.bg-success {
    background-color: var(--color-success);
    color: var(--color-light);
}

.bg-warning {
    background-color: var(--color-warning);
    color: var(--color-dark);
}

.bg-danger {
    background-color: var(--color-danger);
    color: var(--color-light);
}

.bg-secondary {
    background-color: var(--color-secondary);
    color: var(--color-light);
}

.bg-light {
    background-color: var(--color-light);
    color: var(--color-dark);
}

.bg-dark {
    background-color: var(--color-dark);
    color: var(--color-light);
}
